In [1]:
import pandas as pd
b202104 = "JC-202104-citibike-tripdata.csv"
b202103 = "JC-202103-citibike-tripdata.csv"
b202102 = "JC-202102-citibike-tripdata.csv"
b202101 = "JC-202101-citibike-tripdata.csv"

b202012 = "JC-202012-citibike-tripdata.csv"
b202011 = "JC-202011-citibike-tripdata.csv"
b202010 = "JC-202010-citibike-tripdata.csv"
b202009 = "JC-202009-citibike-tripdata.csv"
b202008 = "JC-202008-citibike-tripdata.csv"
b202007 = "JC-202007-citibike-tripdata.csv"
b202006 = "JC-202006-citibike-tripdata.csv"
b202005 = "JC-202005-citibike-tripdata.csv"
b202004 = "JC-202004-citibike-tripdata.csv"
b202003 = "JC-202003-citibike-tripdata.csv"
b202002 = "JC-202002-citibike-tripdata.csv"
b202001 = "JC-202001-citibike-tripdata.csv"

b201912 = "JC-201912-citibike-tripdata.csv"
b201911 = "JC-201911-citibike-tripdata.csv"
b201910 = "JC-201910-citibike-tripdata.csv"
b201909 = "JC-201909-citibike-tripdata.csv"
b201908 = "JC-201908-citibike-tripdata.csv"
b201907 = "JC-201907-citibike-tripdata.csv"
b201906 = "JC-201906-citibike-tripdata.csv"
b201905 = "JC-201905-citibike-tripdata.csv"
b201904 = "JC-201904-citibike-tripdata.csv"
b201903 = "JC-201903-citibike-tripdata.csv"
b201902 = "JC-201902-citibike-tripdata.csv"
b201901 = "JC-201901-citibike-tripdata.csv"

b201812 = "JC-201812-citibike-tripdata.csv"
b201811 = "JC-201811-citibike-tripdata.csv"
b201810 = "JC-201810-citibike-tripdata.csv"
b201809 = "JC-201809-citibike-tripdata.csv"
b201808 = "JC-201808-citibike-tripdata.csv"
b201807 = "JC-201807-citibike-tripdata.csv"
b201806 = "JC-201806-citibike-tripdata.csv"
b201805 = "JC-201805-citibike-tripdata.csv"
b201804 = "JC-201804-citibike-tripdata.csv"
b201803 = "JC-201803-citibike-tripdata.csv"
b201802 = "JC-201802-citibike-tripdata.csv"
b201801 = "JC-201801-citibike-tripdata.csv"

b202104_df = pd.read_csv(b202104)
b202103_df = pd.read_csv(b202103)
b202102_df = pd.read_csv(b202102)
b202101_df = pd.read_csv(b202101)

b202012_df = pd.read_csv(b202012)
b202011_df = pd.read_csv(b202011)
b202010_df = pd.read_csv(b202010)
b202009_df = pd.read_csv(b202009)
b202008_df = pd.read_csv(b202008)
b202007_df = pd.read_csv(b202007)
b202006_df = pd.read_csv(b202006)
b202005_df = pd.read_csv(b202005)
b202004_df = pd.read_csv(b202004)
b202003_df = pd.read_csv(b202003)
b202002_df = pd.read_csv(b202002)
b202001_df = pd.read_csv(b202001)

b201912_df = pd.read_csv(b201912)
b201911_df = pd.read_csv(b201911)
b201910_df = pd.read_csv(b201910)
b201909_df = pd.read_csv(b201909)
b201908_df = pd.read_csv(b201908)
b201907_df = pd.read_csv(b201907)
b201906_df = pd.read_csv(b201906)
b201905_df = pd.read_csv(b201905)
b201904_df = pd.read_csv(b201904)
b201903_df = pd.read_csv(b201903)
b201902_df = pd.read_csv(b201902)
b201901_df = pd.read_csv(b201901)

b201812_df = pd.read_csv(b201812)
b201811_df = pd.read_csv(b201811)
b201810_df = pd.read_csv(b201810)
b201809_df = pd.read_csv(b201809)
b201808_df = pd.read_csv(b201808)
b201807_df = pd.read_csv(b201807)
b201806_df = pd.read_csv(b201806)
b201805_df = pd.read_csv(b201805)
b201804_df = pd.read_csv(b201804)
b201803_df = pd.read_csv(b201803)
b201802_df = pd.read_csv(b201802)
b201801_df = pd.read_csv(b201801)

In [2]:
b202101_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [3]:
dfall=pd.concat([b202104_df, b202103_df, b202102_df, b202101_df, 
                 b202012_df, b202011_df, b202010_df, b202009_df, b202008_df, b202007_df, b202006_df, b202005_df, b202004_df, b202003_df, b202002_df, b202001_df,
                 b201912_df, b201911_df, b201910_df, b201909_df, b201908_df, b201907_df, b201906_df, b201905_df, b201904_df, b201903_df, b201902_df, b201901_df,
                 b201812_df, b201811_df, b201810_df, b201809_df, b201808_df, b201807_df, b201806_df, b201805_df, b201804_df, b201803_df, b201802_df, b201801_df,
                ])
dfall

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1900,2021-04-01 00:07:25.4780,2021-04-01 00:39:06.0800,3225,Baldwin at Montgomery,40.723659,-74.064194,3225,Baldwin at Montgomery,40.723659,-74.064194,45464,Customer,1970,0
1,236,2021-04-01 00:08:13.9440,2021-04-01 00:12:10.1330,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,38392,Customer,1970,0
2,1047,2021-04-01 00:11:01.4250,2021-04-01 00:28:28.5300,3276,Marin Light Rail,40.714584,-74.042817,3678,Fairmount Ave,40.725726,-74.071959,54268,Customer,1970,0
3,491,2021-04-01 00:15:09.7010,2021-04-01 00:23:20.8380,3202,Newport PATH,40.727224,-74.033759,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42307,Customer,1970,0
4,193,2021-04-01 00:21:05.0750,2021-04-01 00:24:18.2960,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44452,Customer,1970,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12672,247,2018-01-31 11:03:59.1750,2018-01-31 11:08:07.0570,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,31828,Subscriber,1962,1
12673,806,2018-01-31 15:34:36.8370,2018-01-31 15:48:03.0280,3640,Journal Square,40.733670,-74.062500,3211,Newark Ave,40.721525,-74.046305,31842,Subscriber,1987,1
12674,1499,2018-01-31 15:45:09.8000,2018-01-31 16:10:09.4400,3640,Journal Square,40.733670,-74.062500,3640,Journal Square,40.733670,-74.062500,29622,Subscriber,1981,1
12675,291,2018-01-31 16:54:11.9480,2018-01-31 16:59:03.5760,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,29622,Subscriber,1963,1
12676,383,2018-01-31 18:34:50.2950,2018-01-31 18:41:13.7530,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,31690,Subscriber,1989,1

In [4]:
dfall.to_csv("citibike202104_201801.csv")